<h1>User Home Page</h1>

<% if user_signed_in? %>
	<h3>My Account</h3>
	<h4><%= current_user.name %></h4>
	<h4><%= current_user.email %></h4>

	<h4><% current_user.addresses.each do |address| %>
				<%= address.kind %><br>
				<%= address.street %><br>
				<%= address.city %><br>
				<%= address.state %><br>
				<%= address.zip %><br>
				<%= address.country %>
			<% end %>
	</h4>



<p><%= link_to "Change your username or password", edit_user_registration_path(@user) %></p>
<p><%= link_to "Manage Transactions", "transactions#index" %></p>
<p><%= link_to "Add an address", edit_user_path(@user) %></p>


<% else %>
	<div>
			<h1><%= link_to "User Sign Up", new_user_registration_path %></h1>
	</div>
<% end %>
</div>